%h1
  Users
%h4
  Search User
= form_tag('/users/search') do
  = label_tag 'Search Users'
  = text_field_tag 'search_query'
  = submit_tag 'Search Users'
%br
= link_to 'Add New User', new_user_path

%table
  %tr
    %th
      First Name
    %th
      Last Name
    %th
      Email
    %th
      Birth Date
  - @users.each do |user|
    %tr
      %td
        = "#{user.first_name}"
      %td
        = "#{user.last_name}"
      %td
        = "#{user.email}"
      %td
        = "#{user.dob}"
